@tailwind base;
@tailwind components;
@tailwind utilities;

[dir="rtl"] {
  text-align: right;
}

[dir="ltr"] {
  text-align: left;
}

body {
  font-family: var(--font-inter), sans-serif;
}

[dir="he"] body {
  font-family: var(--font-heebo), sans-serif;
}